@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&display=swap");
/* 基础代码 */

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Noto Sans SC", sans-serif;
  color: #f0f0f0;
}

body {
  min-height: 100vh;
  background: #0b0d15;
  color: #a2a5b3;
  align-content: center;
}

h1 {
  color: white;
}

.card {
  margin: 0 auto;
  padding: 2em;
  width: 300px;
  background-color: #1c1f2b;
  border-radius: 10px;
  text-align: center;
  position: relative;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.card::after, .card::before {
  content: "";
  position: absolute;
  background-image: conic-gradient(from var(--angle), #ff4545,
    #00ff99,
    #006aff,
    #ff0095,
    #ff4545);
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  padding: 3px;
  box-sizing: content-box;
  border-radius: 10px;
  animation: 3s spin linear infinite;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }

  to {
    --angle: 360deg;
  }
}

.card::before {
  filter: blur(1.5em);
  opacity: 0.4;
}
